################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/ScrumFactory/bin/Debug
/ScrumFactory/obj/Debug
/ScrumFactory.Composition/bin/Debug
/ScrumFactory.Composition/obj/Debug
/ScrumFactory.Data/bin/Debug
/ScrumFactory.Data/obj/Debug
/ScrumFactory.Test/bin/Debug
/ScrumFactory.Test/obj/Debug
/System.ComponentModel.Composition.Extensions/bin/Debug
/System.ComponentModel.Composition.Extensions/obj/Debug
/ScrumFactory.Services.Web/bin
/ScrumFactory.Services.Web/obj/Debug
/ScrumFactory.Services.Logic/obj/Debug
/ScrumFactory.Services.Clients/obj/Debug
/ScrumFactory.Services/bin/Debug
/ScrumFactory.Services/obj/Debug
/ScrumFactory.ReportHelper/bin/Debug
/ScrumFactory.ReportHelper/obj/Debug
/ScrumFactory.Data.Sql/obj/Debug
/ClientDeploy/deploy-2019
/ScrumFactory/bin/Release
/ScrumFactory/obj/Release
/ScrumFactory.Artifacts/obj/Release
/ScrumFactory.Backlog/obj/Release
/ScrumFactory.Backlog.Test/obj/Release
/ScrumFactory.Composition/bin/Release
/ScrumFactory.Composition/obj/Release
/ScrumFactory.Data/obj/Release
/ScrumFactory.Data.Sql/obj/Release
/ScrumFactory.FactoryServerConfiguration/obj/Release
/ScrumFactory.HelpDeskPlugin/obj/Release
/ScrumFactory.Login/obj/Release
/ScrumFactory.ProjectContraints/obj/Release
/ScrumFactory.Projects/obj/Release
/ScrumFactory.Proposals/obj/Release
/ScrumFactory.ReportHelper/bin/Release
/ScrumFactory.ReportHelper/obj/Release
/ScrumFactory.Reports/obj/Release
/ScrumFactory.Risks/obj/Release
/ScrumFactory.Risks.Test/obj/Release
/ScrumFactory.Services/bin/Release
/ScrumFactory.Services/obj/Release
/ScrumFactory.Services.Clients/obj/Release
/ScrumFactory.Services.Logic/obj/Release
/ScrumFactory.Services.Web/obj/Release
/ScrumFactory.Tasks/obj/Release
/ScrumFactory.Tasks.Test/obj/Release
/ScrumFactory.Team/obj/Release
/ScrumFactory.Team.Test/obj/Release
/ScrumFactory.Test/obj/Release
/ScrumFactory.Windows.Helpers/bin/Release
/System.ComponentModel.Composition.Extensions/bin/Release
/System.ComponentModel.Composition.Extensions/obj/Release
/ScrumFactory.Windows.Helpers/obj/Release
/ScrumFactory.Windows/obj/x86/Release
/ScrumFactory.Windows/obj
/ScrumFactory.Artifacts/obj/Debug/TempPE
/ScrumFactory.Backlog/obj/Debug/TempPE
/ScrumFactory.FactoryServerConfiguration/obj/Debug/TempPE
/ScrumFactory.HelpDeskPlugin/obj/Debug/TempPE
/ScrumFactory.Risks/obj/Debug/TempPE
/ScrumFactory.Reports/obj/Debug/TempPE
/ScrumFactory.Proposals/obj/Debug/TempPE
/ScrumFactory.ProjectContraints/obj/Debug/TempPE
/ScrumFactory.Login/obj/Debug/TempPE
/ScrumFactory.Windows.Helpers/obj/Debug/TempPE
/ScrumFactory.Team/obj/Debug/TempPE
/ScrumFactory.Tasks/obj/Debug/TempPE
/ScrumFactory.Artifacts/obj/Debug
/ScrumFactory.Artifacts/obj
/ScrumFactory.Backlog/obj
/ScrumFactory.Backlog.Test
/ScrumFactory.FactoryServerConfiguration/obj
/ScrumFactory.HelpDeskPlugin/obj
/ScrumFactory.Login/obj
/ScrumFactory.ProjectContraints/obj
/ScrumFactory.Projects/obj
/ScrumFactory.Proposals/obj
/ScrumFactory.Reports/obj
/ScrumFactory.Risks/obj
/ScrumFactory.Tasks/obj
/ScrumFactory.Tasks.Test/obj
/ScrumFactory.Team/obj
/ScrumFactory.Team.Test/obj
/ScrumFactory.Risks.Test/obj/Debug
/packages/EntityFramework.5.0.0
/ScrumFactory.Services.Web/Web.config
