<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScrumFactory.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings> 
        <add key="ProjectsServiceUrl" value="$ScrumFactoryServer$/ProjectsService/"/>
        <add key="BacklogServiceUrl" value="$ScrumFactoryServer$/BacklogService/"/>
        <add key="TeamServiceUrl" value="$ScrumFactoryServer$/TeamService/"/>
        <add key="TasksServiceUrl" value="$ScrumFactoryServer$/TasksService/"/>
        <add key="ProposalsServiceUrl" value="$ScrumFactoryServer$/ProposalsService/"/>
        <add key="ArtifactsServiceUrl" value="$ScrumFactoryServer$/ArtifactsService/"/>
        <add key="AuthorizationServiceUrl" value="$ScrumFactoryServer$/AuthorizationService/"/>
        <add key="WindowsAuthorizationServiceUrl" value="$ScrumFactoryServer$/WindowsAuthorizationService/"/>
        <add key="CalendarServiceUrl" value="$ScrumFactoryServer$/CalendarService/"/>
        <add key="ProjectConstraintsServiceUrl" value="$ScrumFactoryServer$/ProjectConstraintsService/"/>
        <add key="FactoryServerServiceUrl" value="$ScrumFactoryServer$/FactoryServerService/"/>
      
    </appSettings>

  <system.net>

    <defaultProxy useDefaultCredentials="true">
      <proxy bypassonlocal="True"/>
      <!-- FIDDLER -->
      <!--<proxy  proxyaddress="http://localhost:8888"/>-->
    </defaultProxy>

    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>

    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>

  </system.net>


  <!-- FOR SHARPSVN: useLegacyV2RuntimeActivationPolicy="true" -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <!-- FOR SHARPSVN -->
    <NetFx40_LegacySecurityPolicy enabled="true"/>
  </runtime>
  <userSettings>
    <ScrumFactory.Windows.Properties.Settings>
      <setting name="SurveyAnswered" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value/>
      </setting>
      <setting name="ShowOnStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VersionWhatIsNew" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RepositoryLogExternalCommand" serializeAs="String">
        <value/>
      </setting>
      <setting name="SpellCheckLanguage" serializeAs="String">
        <value/>
      </setting>
    </ScrumFactory.Windows.Properties.Settings>
  </userSettings>
</configuration>
