<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScrumFactory.Team.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScrumFactory.Team.Properties.Settings>
            <setting name="TROPHY_BUG_KILLER_DATE" serializeAs="String">
                <value/>
            </setting>
            <setting name="TROPHY_HARD_WORKER_DATE" serializeAs="String">
                <value/>
            </setting>
            <setting name="TROPHY_IMPROVER_DATE" serializeAs="String">
                <value/>
            </setting>
            <setting name="TROPHY_THE_FLASH_DATE" serializeAs="String">
                <value/>
            </setting>
            <setting name="TROPHY_EXPERT_DATE" serializeAs="String">
                <value/>
            </setting>
        </ScrumFactory.Team.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
