<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScrumFactory.Projects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScrumFactory.Projects.Properties.Settings>
            <setting name="RepositoryLogExternalCommand" serializeAs="String">
                <value>C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe /command:log /path:"{0}" /findstring:"{1}" /findtype:1</value>
            </setting>
            <setting name="RepositoryUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RepositoryVersion" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProjectFolderFilePath" serializeAs="String">
                <value/>
            </setting>
        </ScrumFactory.Projects.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
