<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScrumFactory.Login.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScrumFactory.Login.Properties.Settings>
            <setting name="lastUser" serializeAs="String">
                <value />
            </setting>
            <setting name="serverUrl" serializeAs="String">
                <value>http://www.scrum-factory.com/demo</value>
            </setting>
            <setting name="lastPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="remindUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastProvider" serializeAs="String">
                <value />
            </setting>
            <setting name="lastLoginWasLocal" serializeAs="String">
                <value>False</value>
            </setting>
        </ScrumFactory.Login.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
