<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- Your company name-->
    <add key="DefaultCompanyName" value="My Company"/>

    <!-- The domains listed here will have users created automatically when they first sign-in
         Comment the line to avoid the users to be created.
         Or specify the domains you want allow this behaviour: ex: @mydomain.com, @xx.com, @yy.com
    -->
    <add key="TrustedDomains" value="*"/>

    <!-- SMTP and email settings -->
    <add key="ScrumFactorySenderEmail" value="notification@your-company-domain"/>
    <add key="ScrumFactorySenderName" value="Scrum Factory Notification"/>
    <add key="TicketEmailSubject" value="Incident #{0}"/>
    <add key="SmtpEnableSsl" value="false"/>

    <!-- If true, only team members of the same company are visible -->
    <add key="RestrictProjectMembers" value="True"/>
    
    <!-- how many recent projects should be used to compute the item velocity-->
    <add key="VelocityCalcDepth" value="30"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin-plugins"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>   
    <add name="ScrumFactoryEntitiesConnectionString" connectionString="metadata=res://*/ScrumFactory.csdl|res://*/ScrumFactory.ssdl|res://*/ScrumFactory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SERVER;Initial Catalog=DATABASE;User ID=USER;Password=PASS&quot;"  providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheForOneDay" duration="86400" varyByParam="sizeUId"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <remove name="WebDAV"/>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="WebDAVModule"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- NEED THIS FOR UPLOAD IMAGES -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxArrayLength="2000000" maxStringContentLength="2147483647"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>