<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RestrictProjectMembers" value="True"/>
    <add key="VelocityCalcDepth" value="30"/>
    <add key="SVN_FilePath" value=""/>
    <add key="SVN_Url" value=""/>
    <!-- Default = 0, Subversion10 = 1, Subversion14 = 2, Subversion15 = 3, Subversion16 = 4, Subversion17 = 5, Subversion18 = 6-->
    <add key="SVN_Version" value="5"/>
    <!-- The domains listed here will have users created automatically when they first sign-in
         Comment the line to avoid the users to be created.
         Or specify the domains you want allow this behaviour: ex: @mydomain.com, @xx.com, @yy.com
    -->
    <add key="TrustedDomains" value="*"/>
    <add key="CodeRepPath" value="http://svnserver/svn/{0}-{1}/trunk"/>
    <add key="DocRepPath" value="t:\projects\{0}\{1}\"/>
    <add key="ScrumFactorySenderEmail" value="notification@scrum-factory.com"/>
    <add key="ScrumFactorySenderName" value="Scrum Factory Notification"/>
    <add key="SmtpEnableSsl" value="false"/>
    <add key="DefaultCompanyName" value="My Company"/>
    <add key="SFClientServer" value="http://www.scrum-factory.com"/>
    <add key="Enable-WindowsAuthorizationProvider" value="true"/>
    <add key="Enable-GoogleAuthorizationProvider" value="true"/>
    <add key="ShouldCreateTicketFolders" value="True"/>
    <add key="CanNewMemberSeeProposals" value="False"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;bin-plugins"/>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="ScrumFactoryEntitiesConnectionString" connectionString="metadata=res://*/ScrumFactory.csdl|res://*/ScrumFactory.ssdl|res://*/ScrumFactory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=ScrumFactory;User ID=sf_db_user;Password=sf;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="ScrumFactoryEntitiesConnectionString" connectionString="metadata=res://*/ScrumFactory.csdl|res://*/ScrumFactory.ssdl|res://*/ScrumFactory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ScrumFactory;User ID=sf_db_user;Password=sf;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="ScrumFactoryEntitiesConnectionString" connectionString="metadata=res://*/ScrumFactory.csdl|res://*/ScrumFactory.ssdl|res://*/ScrumFactory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=fs-003\Interno;Initial Catalog=Foster_ScrumFactory;User ID=factoryuser;Password=nErav2Ga&quot;"  providerName="System.Data.EntityClient" />

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheForOneDay" duration="86400" varyByParam="sizeUId"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.net>
    <!-- If you are behind a PROXY and using Google Authentication, configure this -->
    <!--<defaultProxy useDefaultCredentials="true" >
      <proxy proxyaddress="http://192.168.1.1:8080" usesystemdefault="True"  />
    </defaultProxy>-->
    <!-- Define mail settings -->
    <!--<mailSettings>
        <smtp deliveryMethod="SpecifiedPickupDirectory">
          <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\SMTP_DEBUG" />
        </smtp>
      </mailSettings>-->
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <remove name="WebDAV"/>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="WebDAVModule"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- NEED THIS FOR UPLOAD IMAGES -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxArrayLength="2000000" maxStringContentLength="2147483647"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>